.details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
  width: 100%;
}

.details form * {
  margin-top: 10px;
}

.details form label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.details form label input {
  margin-top: -2px;
  height: 30px;
  border-radius: 10px;
  margin-left: 30px;
  background-color: rgb(81, 81, 81);
  border: none;
  color: #f2f2f2;
}

.deleteImage {
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

.imageView {
  display: flex;
}

.checkbox {
  align-items: center;
  justify-content: center;
}
.checkbox input {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
